body {
    background-image: url("background_img.png");
    background-size: cover;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 49px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #017991;
    box-shadow: 0 0 1px rgba(13, 81, 88, 0.1);
}

nav .logo{
    display: flex;
    align-items: center;
    margin: 0 17px;
}
.logo .menu-icon{
    color: black;
    font-size: 25px;
    margin-right: 14px;
    cursor: pointer;
    margin-top: 2px;
}
.logo .logo-name{
    color: black;
    font-size: 22px;
    font-weight: 500;
    margin-left: 10px;
}
nav .sidebar{
    position: fixed;
    top: 41px;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(180deg, rgba(1,121,145,1) 25%, rgba(80,208,188,1) 100%);
    box-shadow: 0 5px 10px rgba(13, 81, 88, 0.1);
    margin-top: 8px;
}
.sidebar hr{
    height: 2px;
    margin-top: 0px;
    margin-left: 7px;
    margin-right: 7px;
    background-color:#0d5158;
    border: none;
}

.sidebar .sidebar-content{
    padding:30px 16px;
}

.sidebar .list{
    list-style: none;
}

.list .nav-link-1{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-left: -40px;
    margin-top: 100%;
    margin-bottom: 40px;
    color: rgb(25, 147, 158);        
}
.list .nav-link{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-left: -40px;
    margin-top: -20px;
    margin-bottom: 40px;
    color: rgb(25, 147, 158); 
}

.nav-link:hover, .nav-link-1:hover{
    background-color: rgb(25, 147, 158);
}

.nav-link .icon, .nav-link-1 .icon{
    margin-right: 14px;
    font-size: 20px;
}

.nav-link .link, .nav-link-1 .link{
    font-size: 16px;
    font-weight: 400;
}

.nav-link:hover .icon, .nav-link-1:hover .icon,
.nav-link:hover .link, .nav-link-1:hover .link{
    color: white;
}